### Note: After correcting the units used in Microsoft Excel, I realized that I wanted to do some analysis on the taxonomy information.  I removed these columns when I initially cleaned the data.  In this notebook, I go back through and prepare the original data to be joined at the taxonomy columns to my clean birds data.


# Table of Contents
## 1. Import Libraries & Data
## 2. Data Wrangling
## 3. Creating a Table with Only Birds
## 4. Save Data

## 1. Import Libraries & Data

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Import Data
lp = pd.read_csv(r'/Users/lynnsey/Desktop/Bootcamp/Tasks/Immersion/Task 6/09-07-2023 Living Planet Index Analysis/02 Data/Original Data/LPD2022_public.csv', index_col = False)

/var/folders/kk/6z0tdmb13cd8dwpkbrq630qw0000gn/T/ipykernel_26748/59007774.py:2: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  lp = pd.read_csv(r'/Users/lynnsey/Desktop/Bootcamp/Tasks/Immersion/Task 6/09-07-2023 Living Planet Index Analysis/02 Data/Original Data/LPD2022_public.csv', index_col = False)

In [3]:
pd.set_option('display.max_columns', None)

## 2. Data Wrangling

### Dropping columns not needed for analysis

In [4]:
lp_v2 = lp.drop(columns = ['Replicate', 'Citation', 'Authority', 'Location', 'All_countries', 'IPBES_region', 'IPBES_subregion', 'Latitude', 'Longitude', 'Specific_location', 'T_realm', 'T_biome', 'FW_realm', 'FW_biome', 'M_realm', 'M_ocean', 'M_biome', 'Migratory_fw_fish', 'Units', 'Method'])

In [5]:
lp_v2 = lp_v2.drop(columns = ['1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020'])

In [6]:
lp_v2 = lp_v2.drop(columns = 'Subspecies')

In [7]:
lp_v2.head()

,ID,Binomial,Class,Order,Family,Genus,Species,Common_name,Country,Region,System
0,1,Balearica_regulorum,Aves,Gruiformes,Gruidae,Balearica,regulorum,Grey-crowned crane,Uganda,Africa,Terrestrial
1,2,Acrocephalus_sechellensis,Aves,Passeriformes,Acrocephalidae,Acrocephalus,sechellensis,Seychelles warbler,Seychelles,Africa,Terrestrial
2,3,Copsychus_sechellarum,Aves,Passeriformes,Muscicapidae,Copsychus,sechellarum,Seychelles magpie-robin,Seychelles,Africa,Terrestrial
3,4,Copsychus_sechellarum,Aves,Passeriformes,Muscicapidae,Copsychus,sechellarum,Seychelles magpie-robin,Seychelles,Africa,Terrestrial
4,5,Falco_punctatus,Aves,Falconiformes,Falconidae,Falco,punctatus,Mauritius kestrel,Mauritius,Africa,Terrestrial

### Renaming columns to better interpret

In [8]:
# Renaming Binomial to scientific_name
lp_v2.rename(columns = {'Binomial' : 'scientific_name'}, inplace = True)

In [9]:
# Renaming ID to id
lp_v2.rename(columns = {'ID' : 'id'}, inplace = True)

In [10]:
# Renaming Common_name to common_name
lp_v2.rename(columns = {'Common_name' : 'common_name'}, inplace = True)

In [11]:
# Renaming Country to country
lp_v2.rename(columns = {'Country' : 'country'}, inplace = True)

In [12]:
# Renaming Region to region
lp_v2.rename(columns = {'Region' : 'region'}, inplace = True)

In [13]:
# Renaming System to system
lp_v2.rename(columns = {'System' : 'system'}, inplace = True)

In [14]:
# Renaming Class to class
lp_v2.rename(columns = {'Class' : 'class'}, inplace = True)

In [15]:
# Renaming Order to order
lp_v2.rename(columns = {'Order' : 'order'}, inplace = True)

In [16]:
# Renaming Family to family
lp_v2.rename(columns = {'Family' : 'family'}, inplace = True)

In [17]:
# Renaming Genus to genus
lp_v2.rename(columns = {'Genus' : 'genus'}, inplace = True)

In [18]:
# Renaming Species to species
lp_v2.rename(columns = {'Species' : 'species'}, inplace = True)

In [19]:
# Checking if columns renamed properly
lp_v2.head()

,id,scientific_name,class,order,family,genus,species,common_name,country,region,system
0,1,Balearica_regulorum,Aves,Gruiformes,Gruidae,Balearica,regulorum,Grey-crowned crane,Uganda,Africa,Terrestrial
1,2,Acrocephalus_sechellensis,Aves,Passeriformes,Acrocephalidae,Acrocephalus,sechellensis,Seychelles warbler,Seychelles,Africa,Terrestrial
2,3,Copsychus_sechellarum,Aves,Passeriformes,Muscicapidae,Copsychus,sechellarum,Seychelles magpie-robin,Seychelles,Africa,Terrestrial
3,4,Copsychus_sechellarum,Aves,Passeriformes,Muscicapidae,Copsychus,sechellarum,Seychelles magpie-robin,Seychelles,Africa,Terrestrial
4,5,Falco_punctatus,Aves,Falconiformes,Falconidae,Falco,punctatus,Mauritius kestrel,Mauritius,Africa,Terrestrial

### Changing data types to appropriate ones

In [20]:
lp_v2['id'] = lp_v2 ['id'].astype('str')

## 3. Creating a Table with Only Birds

In [21]:
#Creating a table with only data on birds
birds = lp_v2.loc[(lp_v2['class'] == 'Aves')]

In [22]:
#Checking if done correctly
birds.head()

,id,scientific_name,class,order,family,genus,species,common_name,country,region,system
0,1,Balearica_regulorum,Aves,Gruiformes,Gruidae,Balearica,regulorum,Grey-crowned crane,Uganda,Africa,Terrestrial
1,2,Acrocephalus_sechellensis,Aves,Passeriformes,Acrocephalidae,Acrocephalus,sechellensis,Seychelles warbler,Seychelles,Africa,Terrestrial
2,3,Copsychus_sechellarum,Aves,Passeriformes,Muscicapidae,Copsychus,sechellarum,Seychelles magpie-robin,Seychelles,Africa,Terrestrial
3,4,Copsychus_sechellarum,Aves,Passeriformes,Muscicapidae,Copsychus,sechellarum,Seychelles magpie-robin,Seychelles,Africa,Terrestrial
4,5,Falco_punctatus,Aves,Falconiformes,Falconidae,Falco,punctatus,Mauritius kestrel,Mauritius,Africa,Terrestrial

In [23]:
#Checking if done correctly
birds.tail()

,id,scientific_name,class,order,family,genus,species,common_name,country,region,system
30699,200634,Nannopterum_brasilianus,Aves,Suliformes,Phalacrocoracidae,Nannopterum,brasilianus,Neotropical cormorant,Brazil,Latin America and Caribbean,Marine
30700,200635,Nannopterum_brasilianus,Aves,Suliformes,Phalacrocoracidae,Nannopterum,brasilianus,Neotropical cormorant,Brazil,Latin America and Caribbean,Marine
30701,200636,Nannopterum_brasilianus,Aves,Suliformes,Phalacrocoracidae,Nannopterum,brasilianus,Neotropical cormorant,Brazil,Latin America and Caribbean,Marine
30703,200638,Tyrannus_savana,Aves,Passeriformes,Tyrannidae,Tyrannus,savana,Fork-tailed flycatcher,Brazil,Latin America and Caribbean,Terrestrial
30704,200639,Sula_leucogaster,Aves,Suliformes,Sulidae,Sula,leucogaster,Brown booby,Brazil,Latin America and Caribbean,Marine

## 4. Save Data

In [24]:
#Exporting the data
birds.to_csv(r'/Users/lynnsey/Desktop/Bootcamp/Tasks/Immersion/Task 6/09-07-2023 Living Planet Index Analysis/02 Data/Prepared Data/taxonomy.csv')